<div class="content" >
	<h1>Add Product</h1>
	<div class="message alert alert-danger"></div>
	<form id="addProductForm" enctype="multipart/form-data">
		<div class="form-group">
			
			<!-- String input form section -->
			<div><label>Name: </label><input class="form-control" type="text" ng-model="product.name" name="name" required /></div>
			<div><label> Price: </label><input class="form-control" type="text" ng-model="product.price" name="price" required /></div>
		  	<div><label>Stock: </label><input class="form-control" type="text" ng-model="product.stock" name="stock" required /></div>
			<div><label>Description: </label><textarea class="form-control" rows="5" ng-model="product.description" name="description" required ></textarea></div>
			<!-- Category form section -->
			<div>
				<label>Category:</label>
				<label class="radio-inline" ><input type="radio" ng-model="product.categoryOf" name="category" value="PC"> PC</label>
		 	    <label class="radio-inline" ><input type="radio" ng-model="product.categoryOf" name="category" value="Xbox One"> Xbox One</label>
		        <label class="radio-inline" ><input type="radio" ng-model="product.categoryOf" name="category" value="PS4"> PS4</label>
	        </div>
	        <!-- Type form section -->
	        <div>
	        	<label>Type:</label>
				 <label class="radio-inline" ><input type="radio" ng-model="product.typeOf" name="type" value="Peripheral"> Peripheral </label>
		         <label class="radio-inline" ><input type="radio" ng-model="product.typeOf" name="type" value="Device"> Device</label>
		         <label class="radio-inline" ><input type="radio" ng-model="product.typeOf" name="type" value="Game"> Game </label>
	         </div>
	         <!-- Tags form section -->
	         <div>
		         <label>Tags:</label>
		  		 <div class="checkbox" ><label><input type="checkbox" ng-model="product.shooter" name="tag-shooter" value="shooter"> Shooter</label></div>
		  		 <div class="checkbox" ><label><input type="checkbox" ng-model="product.rpg" name="tag-rpg" value="rpg"> RPG</label></div>
		  		 <div class="checkbox" ><label><input type="checkbox" ng-model="product.action" name="tag-action/adventure" value="action/adventure"> Action/Adventure</label></div>
		  		 <div class="checkbox" ><label><input type="checkbox" ng-model="product.racing" name="tag-racing" value="racing"> Racing</label></div>
	  		 </div>
	  		 <!-- Condition form section -->
	  		 <div>
		  		 <label>Condition:</label>
		  		 <label class="radio-inline" ><input type="radio" ng-model="product.conditionOf" name="condition" value="Preowned"> Preowned</label>
		  		 <label class="radio-inline" ><input type="radio" ng-model="product.conditionOf" name="condition" value="New"> New</label>
	  		 </div>
	  		 <hr>
	  		 <!-- Upload-Image form section -->
	  		 <div>
		        <label>Image Upload:</label>
		        <input type="file" name="images[]" class="image-input" multiple/>
				<div class="images-to-upload"></div>
			</div>
			<div><input type="submit" value="send"/></div>
		</div>
	</form>
</div>