<div class="content">
	<h1>Shopping Cart</h1>
		<div class="slider">
		<table class="table table-hover table-striped">
			<!-- Table headers -->
			<thead>
		      <tr>
		      	<th>#</th>
		        <th>name</th>
		        <th>price</th>
		        <th>category</th>
		        <th>type</th>
		        <th>condition</th>
		        <th>tags</th>
		        <th>quantity</th>
		      </tr>
		    </thead>
		    <!-- Table rows -->
			<tr ng-repeat="product in products" ng-hide="hideTR == product.idProduct">
				<td ng-click='goToLink(product)'><img class="image-show-search" src="/Website-2017-Nov/images/{{product.profileImage}}"/></td>
				<td ng-click='goToLink(product)'>{{product.name}}</td>
				<td ng-click='goToLink(product)'>${{product.price}}</td>
				<td ng-click='goToLink(product)'>{{product.categoryOf}}</td>	
				<td ng-click='goToLink(product)'>{{product.typeOf}}</td>
				<td ng-click='goToLink(product)'>{{product.conditionOf}}</td>
				<!-- Tag data -->
				<td>
					<div>
						<a href="#customer-search/undefined/any/any/any/true/false/false/false" ng-if="product.tags[0] == 1">shooter</a>
					</div>
					<div>
						<a href="#customer-search/undefined/any/any/any/false/true/false/false" ng-if="product.tags[1] == 1">rpg</a>
					</div>
					<div>
						<a href="#customer-search/undefined/any/any/any/false/false/true/false" ng-if="product.tags[2] == 1">action/adventure</a>
					</div>
					<div>
						<a href="#customer-search/undefined/any/any/any/false/false/false/true" ng-if="product.tags[3] == 1">racing</a>
					</div>
				</td>
				<td>
			    <div class="input-group">
			          <span class="input-group-btn">
			              <button type="button" ng-click="decrement(product.idProduct)" class="btn btn-danger btn-number"  data-type="minus" data-field="quant">
			                <span class="glyphicon glyphicon-minus"></span>
			              </button>
			          </span>
			          <input type="text" ng-model="quantityMap[product.idProduct]" class="form-control input-number">
			          <span class="input-group-btn">
			              <button type="button" ng-click="increment(product.idProduct)" class="btn btn-success btn-number" data-type="plus" data-field="quant">
			                  <span class="glyphicon glyphicon-plus"></span>
			              </button>
			          </span>
			      </div>
				</td>
				<td>
					<button class="btn btn-danger" ng-click="cartRemove(product.idProduct); hideTR = product.idProduct">remove</button>
				</td>
			</tr>
		</table>
	</div>
</div>