<div class="content">
	<h1>Customer Search</h1>
	<span class="message"></span>
	<form ng-submit="submit()">	
		<div class="form-group">
			<!-- String input form section -->
			<div>
				<input type="text" ng-model="query">
				<input type="submit" value="Search"/>
			</div>
			<!-- Category form section -->
			<div>
				Category:
				<input type="radio" name="category" ng-model="category" value="PC"/> PC 
		        <input type="radio" name="category" ng-model="category" value="Xbox One"/> Xbox-One
		        <input type="radio" name="category" ng-model="category" value="PS4"/> PS4
		        <input type="radio" name="category" ng-model="category" value="any"/> Any
	        </div>
			<!-- Type form section -->
			<div>
				Type:
				<input type="radio" name="type" ng-model="type" value="peripheral"/> Peripheral
		        <input type="radio" name="type" ng-model="type" value="device"/> Device
		        <input type="radio" name="type" ng-model="type" value="game"/> Game
		        <input type="radio" name="type" ng-model="type" value="any"/> Any
	        </div>
	        <!-- Condition form section -->
	        <div>
		        Condition:
				<input type="radio" name="condition" ng-model="condition" value="new"/> New 
				<input type="radio" name="condition" ng-model="condition" value="preowned"/> Preowned
				<input type="radio" name="condition" ng-model="condition" value="any"/> Any
			</div>
			<!-- Tags form section -->
			<div>
				Tags:
				<input type="checkbox" ng-model="shooter" ng-true-value="'true'" ng-false-value="'false'"/> Shooter 
				<input type="checkbox" ng-model="rpg" ng-true-value="'true'" ng-false-value="'false'"/> Rpg
				<input type="checkbox" ng-model="adventure" ng-true-value="'true'" ng-false-value="'false'"/> Adventure
				<input type="checkbox" ng-model="racing" ng-true-value="'true'" ng-false-value="'false'"/> Racing
			</div>
		</div>
	</form>
	<div class="slider">
		<table class="table table-hover table-striped">
			<!-- Table headers -->
			<thead>
		      <tr>
		      	<th>#</th>
		        <th>name</th>
		        <th>price</th>
		        <th>category</th>
		        <th>type</th>
		        <th>condition</th>
		        <th>tags</th>
		      </tr>
		    </thead>
		    <!-- Table rows -->
			<tr ng-repeat="product in products" ng-click='goToLink(product)'>
				<td><img class="image-show-search" src="/Website-2017-Nov/images/{{product.profileImage}}"/></td>
				<td>{{product.name}}</td>
				<td>${{product.price}}</td>
				<td>{{product.categoryOf}}</td>	
				<td>{{product.typeOf}}</td>
				<td>{{product.conditionOf}}</td>
				<!-- Tag data -->
				<td>
					<div>
						<a href="#customer-search/undefined/any/any/any/true/false/false/false" ng-if="product.tags[0] == 1">shooter</a>
					</div>
					<div>
						<a href="#customer-search/undefined/any/any/any/false/true/false/false" ng-if="product.tags[1] == 1">rpg</a>
					</div>
					<div>
						<a href="#customer-search/undefined/any/any/any/false/false/true/false" ng-if="product.tags[2] == 1">action/adventure</a>
					</div>
					<div>
						<a href="#customer-search/undefined/any/any/any/false/false/false/true" ng-if="product.tags[3] == 1">racing</a>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>