<div class="content">
	<div class="message"></div>
	<div class="slider">
		<table class="table table-inverse">
			<!-- Table headers -->
			<thead>
				<tr>
					<th>ID:</th>
					<th>Name:</th>
					<th>Price:</th>
					<th>Stock:</th>
					<th>Category:</th>
					<th>Type:</th>
					<th>Condition:</th>
					<th>Tags:</th>
					<th>Creation_Date:</th>
					<th>Profile_Image:</th>
					<th>Images:</th>
					
				</tr>
			</thead>
			<!-- Table body -->
			<tbody>
				<tr>
					<td>{{product.idProduct}}</td>
					<td>{{product.name}}</td>
					<td>${{product.price}}</td>
					<td>{{product.stock}}</td>
					<td>{{product.categoryOf}}</td>
					<td>{{product.typeOf}}</td>
					<td>{{product.conditionOf}}</td>
					<!-- Tag data -->
					<td>
						<div>
							<a href="#admin-search/undefined/any/any/any/true/false/false/false" ng-if="product.tags[0] == 1">shooter</a>
						</div>
						<div>
							<a href="#admin-search/undefined/any/any/any/false/true/false/false" ng-if="product.tags[1] == 1">rpg</a>
						</div>
						<div>
							<a href="#admin-search/undefined/any/any/any/false/false/true/false" ng-if="product.tags[2] == 1">action/adventure</a>
						</div>
						<div>
							<a href="#admin-search/undefined/any/any/any/false/false/false/true" ng-if="product.tags[3] == 1">racing</a>
						</div>
					</td>
					<td>{{product.creationDate}}</td>
					<td>{{product.profileImage}}</td>
					<td><div ng-repeat="image in product.images">{{image}}</div></td>
				</tr>
			</tbody>
		</table>
	</div>
	<hr>
	<!-- Description span -->
	<span>
		<h3>Description:</h3> 
		{{product.description}}
	</span>
	<hr>
	<!-- Photo gallery -->
	<div class="gallery">
		<div class='row' ng-if="$index % 4 == 0" ng-repeat="image in product.images">
			<div class='col-sm-3'>
				<a href="/Website-2017-Nov/images/{{product.images[$index]}}" data-title="{{product.images[$index]}}" data-lightbox="Product Images">
					<img src="/Website-2017-Nov/images/{{product.images[$index]}}" width="200px" class="img-thumbnail">
				</a>
			</div>
			<div class='col-sm-3'>
				<a href="/Website-2017-Nov/images/{{product.images[$index+1]}}" data-title="{{product.images[$index+1]}}" data-lightbox="Product Images" ng-if="($index+1 < product.images.length)">
					<img src="/Website-2017-Nov/images/{{product.images[$index+1]}}" width="200px" class="img-thumbnail">
				</a>
			</div>
			<div class='col-sm-3'>
				<a href="/Website-2017-Nov/images/{{product.images[$index+2]}}" data-title="{{product.images[$index+2]}}" data-lightbox="Product Images" ng-if="($index+2 < product.images.length)">
					<img src="/Website-2017-Nov/images/{{product.images[$index+2]}}" width="200px" class="img-thumbnail">
				</a>
			</div>
			<div class='col-sm-3'>
				<a href="/Website-2017-Nov/images/{{product.images[$index+3]}}" data-title="{{product.images[$index+3]}}" data-lightbox="Product Images" ng-if="($index+3 < product.images.length)">
					<img src="/Website-2017-Nov/images/{{product.images[$index+3]}}" width="200px" class="img-thumbnail">
				</a>
			</div>
		</div>
	</div>
</div>