<div class="content">
	<h1>Update Product</h1>
	<h3>ID: {{product.idProduct}}</h3>
	<div class="message alert alert-danger"></div>
	<form id="updateProductForm" ng-submit="update()" enctype="multipart/form-data">
		<div class="form-group">
			<input type="text" name="idProduct" id="idProduct" ng-model="product.idProduct" hidden/>	
			
			<!-- String input form section -->
			<div><label>Name:</label><input class="form-control" type="text" name="name" ng-model="product.name" required /></div>
			<div><label>Price: </label><input class="form-control" type="text" name="price" ng-model="product.price" required /></div>
		    <div><label>Stock: </label><input class="form-control" type="text" name="stock" ng-model="product.stock" required /></div>
			<div><label>Description: </label><textarea class="form-control" type="text" name="description" rows="5" ng-model="product.description" required /></textarea></div>
		    <!-- Category form section -->
		    <div>
			<label>Category:</label>
			<label class="radio-inline" ><input type="radio" name="category" ng-model="product.categoryOf" ng-checked="product.categoryOf=='PC'" value="PC"> PC</label>
	 	    <label class="radio-inline" ><input type="radio" name="category" ng-model="product.categoryOf" ng-checked="product.categoryOf=='Xbox One'" value="Xbox One"> Xbox One</label>
	        <label class="radio-inline" ><input type="radio" name="category" ng-model="product.categoryOf" ng-checked="product.categoryOf=='PS4'" value="PS4"> PS4</label>
	        </div>
	        <!-- Type form section -->
	        <div>
			 <label>Type:</label>
	         <label class="radio-inline" ><input type="radio" name="type" value="Peripheral" ng-model="product.typeOf" ng-checked="product.typeOf=='peripheral'"> Peripheral</label>
	         <label class="radio-inline" ><input type="radio" name="type" value="Device" ng-model="product.typeOf" ng-checked="product.typeOf=='device'"> Device</label>
	         <label class="radio-inline" ><input type="radio" name="type" value="Game" ng-model="product.typeOf" ng-checked="product.typeOf=='game'"> Game</label>
	         </div>
	         <!-- Tags form section -->
	         <div>
	         <label>Tags:</label>
		  		 <div class="checkbox" ><label><input type="checkbox" name="tag-shooter" value="shooter" ng-model="product.tags[0]" ng-checked="product.tags[0] == 1"> Shooter</label></div>
		  		 <div class="checkbox" ><label><input type="checkbox" name="tag-rpg" value="rpg" ng-model="product.tags[1]" ng-checked="product.tags[1] == 1"> RPG</label></div>
		  		 <div class="checkbox" ><label><input type="checkbox" name="tag-action/adventure" value="action/adventure" ng-model="product.tags[2]" ng-checked="product.tags[2] == 1"> Action/Adventure</label></div>
		  		 <div class="checkbox" ><label><input type="checkbox" name="tag-racing" value="racing" ng-model="product.tags[3]" ng-checked="product.tags[3] == 1"> Racing</label></div>
	  		 </div>
	  		 <!-- Condition form section -->
	         <div>
	         <label>Condition:</label>
	  		 <label class="radio-inline" ><input type="radio" name="condition" value="Preowned" ng-model="product.conditionOf" ng-checked="product.typeOf=='preowned'"> Preowned</label>
	  		 <label class="radio-inline" ><input type="radio" name="condition" value="New" ng-model="product.conditionOf" ng-checked="product.typeOf=='new'"> New</label>
	         </div>
	         <hr>
	         <!-- Old-Image form section -->
	         <div>
		        <label>Current Images:</label>
				<div id="oldImages" ng-repeat="image in product.images">
					<img class="image-practical" ng-src="/Website-2017-Nov/images/{{image}}"/>
					<input type="checkbox" name="{{image}}" value="{{image}}">Delete</input>
				</div>
			 </div>
			 <hr>
			 <!-- Upload-Image form section -->
	         <div>
		        <label>Image Upload: </label>
		        <input type="file" name="newImages[]" class="image-input" multiple/>
				<div class="images-to-upload"></div>
			 </div>
			 <div><input type="submit" value="update"/></div>
		</div>
	</form>
</div>
