<div class="content">
	<div class="message"></div>
	<div class="row profile-row">
		<table class="table table-inverse">
			<!-- Table headers -->
			<thead>
				<tr>
					<td><img id="image-profile-show" ng-if="product.images[0] != null" ng-src="/Website-2017-Nov/images/{{product.images[0]}}" max-height="120" max-width="120"/>
					<h2>{{product.name}}</h2> <button ng-click="addToCart(product.idProduct)">Add to Cart</button></td>
				</tr>
			</thead>
			<!-- Table body -->
			<tbody>
				<!-- Price&Stock row -->
				<tr>
					<td><b>Price:</b> ${{product.price}} <b>Stock:</b> 
						<span ng-if="product.stock > 0">In Stock</span>
						<span ng-if="product.stock == 0">Out of Stock</span>
					<td>
				</tr>
				<!-- Category&Type&Condition row -->
				<tr>
					<td><b>Category:</b> {{product.categoryOf}}
						<b>Type:</b> {{product.typeOf}}
						<b>Condition:</b> {{product.conditionOf}} 
					</td>
				</tr>
				<tr>
					<!-- Tag data -->
					<td>
						<div id="customer-view-tags">
							<b>Tags:</b>
							<a href="#customer-search/undefined/any/any/any/true/false/false/false" ng-if="product.tags[0] == 1">shooter</a>
							<a href="#customer-search/undefined/any/any/any/false/true/false/false" ng-if="product.tags[1] == 1">rpg</a>
							<a href="#customer-search/undefined/any/any/any/false/false/true/false" ng-if="product.tags[2] == 1">action/adventure</a>
							<a href="#customer-search/undefined/any/any/any/false/false/false/true" ng-if="product.tags[3] == 1">racing</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Description span -->
	<span>
		<h4>Description:</h4> 
		{{product.description}}
	</span>
	<hr>
	<!-- Photo gallery -->
	<div class="gallery">
		<div class='row' ng-if="$index % 4 == 1" ng-repeat="image in product.images">
			<div class='col-sm-3'>
				<a href="/Website-2017-Nov/images/{{product.images[$index]}}" data-title="{{product.images[$index]}}" data-lightbox="Product Images">
					<img src="/Website-2017-Nov/images/{{product.images[$index]}}" width="200px" class="img-thumbnail">
				</a>
			</div>
			<div class='col-sm-3'>
				<a href="/Website-2017-Nov/images/{{product.images[$index+1]}}" data-title="{{product.images[$index+1]}}" data-lightbox="Product Images" ng-if="($index+1 < product.images.length)">
					<img src="/Website-2017-Nov/images/{{product.images[$index+1]}}" width="200px" class="img-thumbnail">
				</a>
			</div>
			<div class='col-sm-3'>
				<a href="/Website-2017-Nov/images/{{product.images[$index+2]}}" data-title="{{product.images[$index+2]}}" data-lightbox="Product Images" ng-if="($index+2 < product.images.length)">
					<img src="/Website-2017-Nov/images/{{product.images[$index+2]}}" width="200px" class="img-thumbnail">
				</a>
			</div>
			<div class='col-sm-3'>
				<a href="/Website-2017-Nov/images/{{product.images[$index+3]}}" data-title="{{product.images[$index+3]}}" data-lightbox="Product Images" ng-if="($index+3 < product.images.length)">
					<img src="/Website-2017-Nov/images/{{product.images[$index+3]}}" width="200px" class="img-thumbnail">
				</a>
			</div>
		</div>
	</div>
</div>