@CHARSET "ISO-8859-1";

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
html body{
	background-color: black;
}
#image-profile-show{
	max-width: 400px;
}
.images-to-upload img, .image-practical{
	max-width: 100px;
	display: inline;
}
.image-show-search{
	max-height: 150px;
}
.col-sm-8 {
background-color: white;
}
.dropdown-menu a{
	display: block;
}
#customer-view-tags{
	display:inline;
}
.profile-row{
	margin-top: 10px;
}
.content{
	margin-bottom: 1cm;
}
.image-input{
	margin-bottom: 5px;
}
.slider{
	overflow-x:auto;
}
.form-group div{
	margin-top: 10px;
}
div input, div textarea{
	max-width: 300px;
}
textarea {
   resize: none;
}
span{
	word-wrap:break-word;
}